<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新增api</title>
	<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
	<script th:src="@{/js/jquery-1.8.0.min.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
	<script th:src="@{/js/bootstrap/bootstrap-table.js}"></script>
	<script th:src="@{/js/bootstrap/bootstrap-table-zh-CN.js}"></script>
	<script th:src="@{/js/layer/layer.js}"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
	<script type="text/javascript">
	var index = parent.layer.getFrameIndex(window.name);
			$().ready(function() {
				$("#addForm").validate({
					rules: {
						fapiname: {
						    required: true
						},
						faurl: "required",
						ftype:{
							required: true
						},
						fcontenttype:{
							required: true
						},
						fporid: "required"
				    },
				    messages: {
				    	fapiname:"请输入API描述",
				    	faurl: "请输入请求地址",
				    	fporid:"请选择所属项目",
				    	ftype: {
					    	  required:"请输入请求类型"
					      },
					      fcontenttype: {
						        required: "请输入入参类型"
						  }
				    },
				    submitHandler : function(form) {
						$.post("/addAPI", 
						$("#addForm").serialize(),
						function(data, status) {
							if (data.code == "10000") {
								parent.$("#ArbetTable").bootstrapTable('refresh');
			                    parent.layer.msg( 'API添加成功' );
			                    parent.layer.close(index);
							} else {
								$("#cmsg").text(data.msg);
								$("#cmsg").css("color","red");
			                    //alert('用户名或密码错误');
							}
						});
					}
				});
			});
			function getProInfo(){
				//debugger;
				$("#fproid").empty();
				$.ajaxSetup({async: false});
				$.get("/getPros", 
					function(data, status) {
					 	$("#fproid").append("<option value='0'>请选择项目</option>");
						 $.each(data,  function(index, item) {
					            $("#fproid").append(  //此处向select中循环绑定数据
					    "<option value="+item.fproid+">" + item.fproname+ "</option>");
				        });
				});
				$.ajaxSetup({async: true});
			}
			
			$(function(){
				$("#fproid").on("mousedown",function(){
					getProInfo()
				});
			});
		</script>
		
		<style>
			.error{
				color:red;
				font-weight:bold;
			}
		</style>
</head>

<body>
<div id="signup-box" class="signup-box widget-box no-border">
		<div class="widget-body">
			<div class="widget-main">
				<form id="addForm" method="post">
					<fieldset>
						<label class="block clearfix">
							<span class="block input-icon input-icon-right">
								<input type="text" class="form-control" placeholder="api描述" name="fapiname"/>
								<i class="icon-user"></i>
							</span>
						</label>
						
						<label class="block clearfix">
							<span class="block input-icon input-icon-right">
								<input type="text" class="form-control" placeholder="请求地址" name="faurl"/>
								<i class="icon-user"></i>
							</span>
						</label>
						<label class="block clearfix">
							<span class="block input-icon input-icon-right">
								请求类型：<select name="ftype">
									<!-- <option value="0">请求类型</option> -->
									<option value="get">get</option>
									<option value="post">post</option>
									<option value="delete">delete</option>
									<option value="put">put</option>
								</select>
								<i class="icon-user"></i>
							</span>
						</label>
						<label class="block clearfix">
							<span class="block input-icon input-icon-right">
								入参类型：<select name="fcontenttype">
									<option value="json">json</option>
									<option value="form">form</option>
								</select>
								<i class="icon-user"></i>
							</span>
						</label>
						<label class="block clearfix">
							<span class="block input-icon input-icon-right">
								<select id="fproid" class="input-sm" name="fproid">
								 	<option value="0">请选择项目</option>
								 </select>
								<i class="icon-user"></i>
							</span>
						</label>
						<span id="cmsg"></span>


						<div class="space-24"></div>

						<div class="clearfix">
							<button type="reset" class="width-30 pull-left btn btn-sm">
								<i class="icon-refresh"></i>
								重置
							</button>

							<button type="submit" class="width-65 pull-right btn btn-sm btn-success">
								确定
								<i class="icon-arrow-right icon-on-right"></i>
							</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div><!-- /widget-body -->
	</div><!-- /signup-box -->
</body>
</html>