<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>接口管理</title>
		<script th:src="@{/js/jquery-1.8.0.min.js}"></script>
		<script th:src="@{/js/jquery.validate.min.js}"></script>
		<script th:src="@{/js/layer/layer.js}"></script>
		<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/layer/layer.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
		<script th:src="@{/js/bootstrap/bootstrap-table.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap-table-zh-CN.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap-paginator.min.js}"></script>
		<script th:src="@{/js/case/APIManage.table.js}"></script>
	</head>
	<body>
	<script type="text/javascript">
			function myclear(){
				$("#faurl").val("");
				$("#fproid").val(0);
			}
			
			function getProInfo(){
				$("#fproid").empty();
				$.get("/getPros", 
					function(data, status) {
					 	$("#fproid").append("<option value='0'>请选择项目</option>");
						 $.each(data, function(index, item) {
					            $("#fproid").append(  //此处向select中循环绑定数据
					    "<option value="+item.fproid+">" + item.fproname+ "</option>");
				        });
				});
			}
			$("#fproid").click(function(){
		          var item = $("#fproid").val();
		          if(item == "0"){
		              $("#fproid").show();
		              getProInfo();
		          }
		          else{
		              $("#fproid").hide();
		          }
		      });
	</script>
		<div class="input-group input-group-lg">
		 接口地址：<input type="text" id="faurl" class="input-sm">
		 <!-- ajax -->
		 项目：<select id="fproid" class="input-sm">
		 	<option value="0">请选择项目</option>
		 </select>
		&nbsp;&nbsp;<button class="btn btn-primary" onclick="changeCondition()"><i class="icon-search icon-on-right bigger-110"></i>查询</button>
		&nbsp;&nbsp;<button class="btn btn-danger" onclick="addAPI()"><i class="icon-plus-sign bigger-120 green"></i>新增接口</button>
		&nbsp;&nbsp;<button class="btn" onclick="myclear()"><i class="icon-undo bigger-110"></i>清空</button>
		</div>
		<ul class="nav nav-list"><li class="divider"></li></ul>
		<table id="ArbetTable"></table>
	</body>
</html>
