<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<script th:src="@{/js/jquery-1.8.0.min.js}"></script>
		<script th:src="@{/js/jquery.validate.min.js}"></script>

		<link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{assets/css/font-awesome.min.css}" />


		<link rel="stylesheet" th:href="@{/assets/css/jquery-ui-1.10.3.custom.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/chosen.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/datepicker.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap-timepicker.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/daterangepicker.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/colorpicker.css}" />
		<script th:src="@{/js/bootstrap/bootstrap-table.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap-table-zh-CN.js}"></script>
		<script th:src="@{/js/layer/layer.js}"></script>
		<link th:href="@{/css/layer/layer.css}" rel="stylesheet" />
		
		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />


		<script th:src="@{assets/js/ace-extra.min.js}"></script>
		<style type="text/css">
			.title{
				text-align:right;
			}
			
			.rowCss{
				margin-top: 5px;
			}
			
			.rowInput{
				height:35px;
				line-height:35px;
			}
		</style>
		<script type="text/javascript">
		function back(){
			 window.location.href="/toCaseManager?fcaseid="+$("input[name=fcaseid]").val()+"&"
					 +"faid="+$("input[name=faid]").val()+"&fproid="+$("input[name=fproid]").val();
		}
		function toDebug(){
			$.post("/case/debug", 
				function(data, status) {
					alert(data.caseModel2);
				 	$("input[name=fresponse]").text(data.caseModel2.fresponse);
		        });
			});
		}
		</script>
	</head>
		
	<body>
		<div class="row">
			<input type="hidden" name="faid" th:value="${apiModel.faid}">
			<input type="hidden" name="fproid" th:value="${fproid}">
			<div class="col-md-5">
				<div class="row rowCss">
					<div class="col-md-3 title rowInput">
					  	用例编号：
				  	</div>
				  	<div class="col-md-9">
				  		<input type="text" readonly  class="form-control" th:value="${caseModel.fcaseid}" name="fcaseid">
				  	</div>
				</div>
				<div class="row rowCss rowInput">
					<div class="col-md-3 title">
					  	用例名：
				  	</div>
				  	<div class="col-md-9">
				  		<input type="text" class="form-control" th:value="${caseModel.fcasedesp}">
				  	</div>
				</div>
				<div class="row rowCss rowInput">
					<div class="col-md-3 title">
					  	测试点：
				  	</div>
				  	<div class="col-md-9">
				  		<input type="text" class="form-control" th:value="${caseModel.fpoint}">
				  	</div>
				</div>
				<div class="row rowCss rowInput">
					<div class="col-md-3 title">
					  	前置处理：
				  	</div>
				  	<div class="col-md-9">
				  		<input type="text" class="form-control" th:value="${caseModel.former}">
				  	</div>
				</div>
				<div class="row rowCss">
					<div class="col-md-3 title">
					  	请求参数：
				  	</div>
				  	<div class="col-md-9">
				  		<textarea class="form-control" rows="3"  th:text="${caseModel.frequest}"></textarea>
				  	</div>
				</div>
				<div class="row rowCss">
					<div class="col-md-3 title">
					  	预期结果：
				  	</div>
				  	<div class="col-md-9">
				  		<textarea class="form-control" rows="3" th:text="${caseModel.fexpect}"></textarea>
				  	</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-5">
				<div class="row rowCss">
					<div class="col-md-3 title">
					  	请求链接：
				  	</div>
				  	<div class="col-md-9">
				  		<textarea class="form-control" rows="3" th:text="${apiModel.faurl}" readonly></textarea>
				  		<input type="hidden" id="short_url" th:value="${oldUrl}">
				  	</div>
				</div>
				<div class="row rowCss rowInput">
					<div class="col-md-3 title">
					  	添加人员：
				  	</div>
				  	<div class="col-md-9">
				  		<input type="text" class="form-control" readonly th:value="${caseModel.fcreateuser}">
				  	</div>
				</div>
				<div class="row rowCss rowInput">
					<div class="col-md-3 title">
					  	请求状态：
				  	</div>
				  	<div class="col-md-9">
				  		<input type="text" class="form-control" th:value="${caseModel.fstatus}" readonly>
				  	</div>
				</div>
				<div class="row rowCss rowInput">
					<div class="col-md-3 title">
					  	后置处理：
				  	</div>
				  	<div class="col-md-9">
				  		<input type="text" class="form-control" th:value="${caseModel.flatter}">
				  	</div>
				</div>
				<div class="row rowCss">
					<div class="col-md-3 title">
					  	返回结果：
				  	</div>
				  	<div class="col-md-9">
				  		<textarea class="form-control" rows="3" th:text="${caseModel.fresponse}"  readonly name="fresponse"></textarea>
				  	</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>	
		<div class="row rowCss" style="text-align:center">
			<button class="btn btn-primary" onclick="changeCondition()"><i class="icon-search icon-on-right bigger-110"></i>提交</button>
			<button class="btn btn-danger" onclick="toDebug()"><i class="icon-plus-sign bigger-120 green"></i>调试</button>
			<button class="btn" onclick="myclear()"><i class="icon-undo bigger-110"></i>清空</button>
			<button class="btn" onclick="back()"><i class="icon-undo bigger-110"></i>返回</button>
		</div>
	</body>
</html>
